<!doctype html>
<html data-n-head-ssr lang="en" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22en%22%7D%7D">
    <head>
        <meta data-n-head="ssr" charset="utf-8">
        <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta data-n-head="ssr" name="description" data-hid="description" content="Jiji.com.gh™ ➔ Specifications: 1. Faults Indicated: No Connections, Shorts, Opens and Crossover 2. Low Battery Indicator: LED lights to indicate low battery 3. Power: 1 x 9 V 6F22 DC Alkaline Battery (Battery Not Included) 4. Color: Grey 5. Item Dimensions: Appox. 143 x 85 x 25mm 6. Item Weight: 175g (Battery excl ❤ Contact with Rapasat Ventures on Jiji.com.gh ❤ Try FREE online classified in Ghana today!">
        <meta data-n-head="ssr" property="og:title" content="4-in-1 Remote Network Cable Tester Rj11/ Rj45 /USB">
        <meta data-n-head="ssr" property="og:url" content="https://jiji.com.gh/takoradi/accessories-and-supplies-for-electronics/4-in-1-remote-network-cable-tester-rj11-rj45-usb-vWwYMwBClkPuulOVO0lFBhyX.html">
        <meta data-n-head="ssr" property="og:description" data-hid="og:description" content="Specifications:
1. Faults Indicated: No Connections, Shorts, Opens and Crossover
2. Low Battery Indicator: LED lights to indicate low battery 
3. Power: 1 x 9 V 6F22 DC Alkaline Battery (Battery Not...">
        <meta data-n-head="ssr" property="og:image:type" content="image/jpeg">
        <meta data-n-head="ssr" property="og:image" content="https://pictures-ghana.jijistatic.net/16790263_MzAwLTMwMC0wNWQwZTQwNWQ5.jpg">
        <meta data-n-head="ssr" data-hid="robots" name="robots" content="noindex, follow">
        <meta data-n-head="ssr" property="apple-mobile-web-app-capable" content="yes">
        <meta data-n-head="ssr" property="mobile-web-app-capable" content="yes">
        <meta data-n-head="ssr" property="application-name" content="Jiji Ghana">
        <meta data-n-head="ssr" property="theme-color" content="#00b53f">
        <meta data-n-head="ssr" property="apple-mobile-web-app-status-bar-style" content="green">
        <meta data-n-head="ssr" property="apple-mobile-web-app-title" content="Jiji Ghana">
        <meta data-n-head="ssr" property="fb:app_id" content="324900008167677">
        <meta data-n-head="ssr" property="fb:pages" content="522677464447626">
        <meta data-n-head="ssr" property="og:type" content="product">
        <meta data-n-head="ssr" property="og:site_name" content="Jiji Ghana">
        <meta data-n-head="ssr" property="og:locale" content="en-GH">
        <meta data-n-head="ssr" property="al:ios:url" content="jiji://content/takoradi/accessories-and-supplies-for-electronics/4-in-1-remote-network-cable-tester-rj11-rj45-usb-vWwYMwBClkPuulOVO0lFBhyX.html">
        <meta data-n-head="ssr" property="al:android:url" content="jiji://content/takoradi/accessories-and-supplies-for-electronics/4-in-1-remote-network-cable-tester-rj11-rj45-usb-vWwYMwBClkPuulOVO0lFBhyX.html">
        <meta data-n-head="ssr" property="al:ios:app_store_id" content="1037699771">
        <meta data-n-head="ssr" property="al:ios:app_name" content="Jiji Ghana">
        <meta data-n-head="ssr" property="al:android:app_name" content="Jiji Ghana: Buy&amp;Sell Online">
        <meta data-n-head="ssr" property="al:android:package" content="com.olx.ssa.gh">
        <link data-n-head="ssr" rel="icon" type="image/x-icon" href="/favicon.ico">
        <link data-n-head="ssr" rel="image_src" href="https://pictures-ghana.jijistatic.net/16790263_MzAwLTMwMC0wNWQwZTQwNWQ5.jpg">
        <link data-n-head="ssr" rel="canonical" href="https://jiji.com.gh/takoradi/accessories-and-supplies-for-electronics/4-in-1-remote-network-cable-tester-rj11-rj45-usb-vWwYMwBClkPuulOVO0lFBhyX.html">
        <link data-n-head="ssr" rel="preconnect" href="https://assets.jijistatic.net">
        <link data-n-head="ssr" rel="alternate" hrefLang="en-GH" href="https://jiji.com.gh/takoradi/accessories-and-supplies-for-electronics/4-in-1-remote-network-cable-tester-rj11-rj45-usb-vWwYMwBClkPuulOVO0lFBhyX.html">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/2507d12.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/5325f24.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/b0e4f49.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/8b90d57.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/b412c65.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/ae50f23.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/896dad6.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/2b7f9f0.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/4651c30.modern.js" as="script">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/b0e4f49.css">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/b412c65.css">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/896dad6.css">
    </head>
    <body>
        <img src="/tre.gif" alt="tre.gif" width="1px" height="1px" class="h-hide-image">
        <div id="js-stickers-wrapper" class="b-stickers-wrapper"></div>
        <div data-server-rendered="true" id="__nuxt">
            <div id="__layout">
                <div class="b-body-wrapper js-body-wrapper">
                    <div class="h-bg-jiji-body h-min-height-100p h-width-100p h-flex">
                        <div class="b-app__wrapper">
                            <div class="b-app-header-wrapper">
                                <div class="b-app-header b-app-header--active">
                                    <div class="container b-app-header__inner">
                                        <div class="b-app-header__inner_flex">
                                            <div class="h-flex-center h-mr-25 h-pos-rel">
                                                <div class="b-burger-wrapper" style="width:24px;height:15px;">
                                                    <div style="background:#fff;"></div>
                                                    <div style="background:#fff;"></div>
                                                    <div style="background:#fff;"></div>
                                                </div>
                                                <div class="b-app-header__categories-wrapper">
                                                <!---->
                                                </div>
                                            </div>
                                            <a href="/" aria-label="Home" class="h-dinline-flex h-pointer">
                                                <svg color="#fff" height="40px" width="44px" xmlns="http://www.w3.org/2000/svg" class="h-mr-3 icon sprite-icons">
                                                    <use href="/_nuxt/e81d6089e62c504b7c7fbcf687890603.svg#i-logo-jiji" xlink:href="/_nuxt/e81d6089e62c504b7c7fbcf687890603.svg#i-logo-jiji"></use>
                                                </svg>
                                            </a>
                                            <!---->
                                        </div>

                                        <!---->
                                        <div class="b-app-header__user-bar">
                                            <div class="h-mh-15">
                                                <div class="b-app-header-profile__wrapper">
                                                    <div class="b-app-header-profile__inner">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="b-content-wrapper">
                                <div data-fetch-key="AdvertItemPage:0">
                                    <div class="qa-advert-page h-pos-rel b-advert-page-wrapper container h-pt-10">
                                        <!---->
                                        <div>

                                            <div itemscope="itemscope" itemtype="http://schema.org/Product" class="b-advert-seller-info-wrapper">
                                                <div class="b-advert-item-wrapper">
                                                    <!---->
                                                    <div class="b-user-notification-wrapper"></div>
                                                    <div class="b-advert-card-wrapper">
                   
                                                        <div class="qa-advert-item b-advert-card">
                                                            <div class="b-advert-card__head">

                                                                <div class="b-advert-title-outer">
                                                                    <div>
                                                                        <h1 itemprop="name" class="qa-advert-title b-advert-title">
                                                                            <div class="b-advert-title-inner qa-advert-title b-advert-title-inner--h1">Cart
  </div>
                                                                        </h1>
                                                                        <!---->
                                                                    </div>
                                                                    <div class="b-fav-button-advert">
                                                                        <div class="qa-like-button b-fav-button b-mobile-button-increase-square h-pt-0">
                                                                            <svg color="#aaaaaa" height="18px" width="18px" xmlns="http://www.w3.org/2000/svg" class="b-fav-button__fav-icon icon sprite-icons">
                                                                                <use href="/_nuxt/e81d6089e62c504b7c7fbcf687890603.svg#i-tab-saved-outlined" xlink:href="/_nuxt/e81d6089e62c504b7c7fbcf687890603.svg#i-tab-saved-outlined"></use>
                                                                            </svg>
                                                                        </div>
                                                                        <div class="unread-badge js-unread-badge">+1
</div>
                                                                        <div class="b-fav-button-advert__text">3
  </div>
                                                                    </div>
                                                                    <!---->
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
                                                            </div>
                                                            <!---->
                                                            <div>
  
                                                                <!---->
                                                            </div>
                                                            <!---->
                                                            <%carts.forEach((item)=>{%>
                                                                <div itemprop="stores" class="b-advert-stores">
                                                                    <div class="b-advert-item-details-collapser">
                                                                        <div class="b-advert-item-details-collapser__title h-dflex h-flex-cross-center">
                                                                            <div class="b-advert-item-details-collapser__title-wrapper h-flex-1-0">
                                                                                <div class="b-advert-stores__title h-dflex h-flex-cross-center">
                                                                                    <img style="width: 150px; border-radius: 10px; margin-right: 10px;" src="<%=item.image%> " alt="">
                                                                                    <p>Product:     <%=item.name%>  <br>   Stock:<%=item.quantity%></p>

                                                                                    <button style="margin-left: 10px;" onclick="delete_btn(`<%=item.id%>`)">Delete</button>
          
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!---->
    
                                                                    </div>
                                                                </div>
                                                            <%})%>
                                                        


                                                            <div class="js-apply_cv_result"></div>
                                                            <!---->
                                                            <!---->
                                                            <div class="b-advert-card-wrapper__bottom h-dflex h-flex-cross-center b-advert-card-aside h-pt-20 h-pb-10">
                                                            <!---->
                                                            <!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!---->
                                            <div class="h-dflex h-pb-20 h-flex-dir-column">
                                            <!---->
                                            <!---->
                                            </div>
                                        </div>
                                        <DIV class="v-portal" style="display:none;"></DIV>
                                        <DIV class="v-portal" style="display:none;"></DIV>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/cart.js"></script>
    </body>
</html>
