<!doctype html>
<html data-n-head-ssr lang="en" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22en%22%7D%7D">
    <head>
        <meta data-n-head="ssr" charset="utf-8">
        <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta data-n-head="ssr" name="description" data-hid="description" content="Free classifieds in Ghana ➔ ➔ ➔ Sell to Real People in Ghana on Jiji.com.gh ➔ Post Ad in Ghana ➔ local classified ads, more than online marketplace">
        <meta data-n-head="ssr" name="abstract" data-hid="abstract" content="Free classifieds in Ghana ➔ ➔ ➔ Sell to Real People in Ghana on Jiji.com.gh ➔ Post Ad in Ghana ➔ local classified ads, more than online marketplace">
        <meta data-n-head="ssr" property="og:title" content="★ Jiji.com.gh: Buy &amp; Sell Online ★ Free classifieds in Ghana">
        <meta data-n-head="ssr" property="og:url" content="https://jiji.com.gh/">
        <meta data-n-head="ssr" property="og:description" data-hid="og:description" content="Free Classifieds in Ghana – Buy &amp; Sell Online on Jiji.com.gh ★★★ – Post Ad on  #1 Real People Classifieds site – over 1,098,408 local classified ads">
        <meta data-n-head="ssr" property="og:image:type" content="image/jpeg">
        <meta data-n-head="ssr" property="og:image" content="https://assets.jijistatic.net/static/img/ogg.jpg">
        <title>Have fun over here</title>
        <link data-n-head="ssr" rel="icon" type="image/x-icon" href="/favicon.ico">
        <link data-n-head="ssr" rel="image_src" href="https://assets.jijistatic.net/static/img/ogg.jpg">
        <link data-n-head="ssr" rel="canonical" href="https://jiji.com.gh/">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/afb8682.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/64cf716.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/b83821f.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/b7ca52f.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/0eea143.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/5172529.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/css/896dad6.css" as="style">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/1a8a396.modern.js" as="script">
        <link rel="preload" href="https://assets.jijistatic.net/nuxt/8d9d492.modern.js" as="script">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/b83821f.css">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/0eea143.css">
        <link rel="stylesheet" href="https://assets.jijistatic.net/nuxt/css/896dad6.css">
        <style>
            .video-container {
                width: 640px;
                height: 360px;
                position: relative;
                overflow: hidden;
            }
    
            .video-container video {
                width: 100%;
                height: 100%; 
            }
        </style>
    </head>
    <body>
        <img src="/tre.gif" alt="tre.gif" width="1px" height="1px" class="h-hide-image">
        <div id="js-stickers-wrapper" class="b-stickers-wrapper"></div>
        <div data-server-rendered="true" id="__nuxt">
            <div id="__layout">
                <div class="b-body-wrapper js-body-wrapper">
                    <div class="h-bg-jiji-body h-min-height-100p h-width-100p h-flex">
                        <div class="b-app__wrapper">
                            <div class="b-app-header-wrapper">
                                <div class="b-app-header b-app-header--active">
                                    <div class="container b-app-header__inner">
                                        <div class="b-app-header__inner_flex">
                                            <!---->
                                            <a href="./main.html" aria-label="Home" class="h-dinline-flex h-pointer">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2.5 8.5c-.98 0-1.865.404-2.502 1.054-.634-.649-1.519-1.054-2.498-1.054-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5c.979 0 1.864-.404 2.498-1.054.637.649 1.522 1.054 2.502 1.054 1.933 0 3.5-1.566 3.5-3.5s-1.567-3.5-3.5-3.5zm0 6c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5c1.379 0 2.5 1.122 2.5 2.5s-1.121 2.5-2.5 2.5z"/></svg>
                                            </a>
                                            <!---->
                                        </div>
                                        <!---->
                                        <!---->
                                        <div class="b-app-header__user-bar">
                                            <div class="h-mh-15">
                                                <div class="b-app-header-profile__wrapper">
                                                    <div class="b-app-header-profile__inner">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="h-mh-15">
                                                <div class="h-width-120">
                                                    <button type="button" class="qa-header-sell b-app-header__sell-flex h-width-100p fw-button--type-warning fw-button--size-medium fw-button h-uppercase fw-button qa-fw-button fw-button--type-warning fw-button--size-medium">
                                                        <span class="fw-button__content">
                                                            <!---->
                                                            <span class="fw-button__slot-wrapper">Sell
                </span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <div class="b-content-wrapper">
                                <div data-fetch-key="HomePage:0">
                                    <div class="b-main-page">
                                        <div class="b-main-page-header h-pos-rel">
                                            <div class="b-main-page-header__inner-wrapper">
                                                <div class="qa-main-page-inner-content b-main-page-header__inner-wrapper--content h-width-600 h-pos-rel h-height-100p">
                                                    <div class="b-main-page-header__content">
                                                        <div class="row h-mb-30">
                                                            <div class="col-xs-12 center-xs b-main-page-header__search-wrapper">
                                                                <p class="b-main-page-header__text">
                                                                    Find anything 
              
                                                                    <button type="button" class="b-main-page-header__region qa-choose-region-button fw-button qa-fw-button fw-button--type-black fw-button--size-small fw-button--has-icon">
                                                                        <span class="fw-button__content">
                                                                            <svg width="11px" height="11px" border-color="" border-width="0" color="" xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons">
                                                                                <use href="/_nuxt/6b8789a9a476061b010b2ad02a41bbd5.svg#i-geo-marker" xlink:href="/_nuxt/6b8789a9a476061b010b2ad02a41bbd5.svg#i-geo-marker"></use>
                                                                            </svg>
                                                                            <span class="fw-button__slot-wrapper fw-button__text--has-icon"> within the realms of the Custodia
              </span>
                                                                        </span>
                                                                    </button>
                                                                </p>
                                                            </div>
                                                            <div class="qa-choose-location-wrapper col-xs-6 end-xs b-main-page-header__choose-location-container">
                                                                <div class="b-main-page-header__choose-location">
                                                                    <DIV class="v-portal" style="display:none;"></DIV>
                                                                    <!---->
                                                                    <!---->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 b-main-page-header__search-wrapper">
                                                                <div class="fw-search search-with-suggestions fw-search--rounded fw-search--size-large search-with-suggestions--options-hidden">
                                                                    <!---->

                                                                    <form action="{% url 'search_results' %}" method="get">
                                                                        <input name="q" type="text" placeholder="Search...">
                                                                      </form>


                                                                    </div>
                                                                    <div class="fw-search__right-container">
                                                                        <div class="fw-search__extra-button">
                                                                        <!---->
                                                                        </div>
                                                                        <button type="button" aria-label="Search" class="fw-search__search-button fw-button qa-fw-button fw-button--type-white fw-button--size-medium">
                                                                            <span class="fw-button__content">
                                                                                <!---->
                                                                                <span class="fw-button__slot-wrapper">
                                                                                    <div class="fw-search__icon">
                                                                                        <svg color="#6C8EA0" height="28px" width="28px" xmlns="http://www.w3.org/2000/svg" class="icon sprite-icons">
                                                                                            <use href="/_nuxt/6b8789a9a476061b010b2ad02a41bbd5.svg#i-search-tiny" xlink:href="/_nuxt/6b8789a9a476061b010b2ad02a41bbd5.svg#i-search-tiny"></use>
                                                                                        </svg>
                                                                                    </div>
                                                                                </span>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="container">
                                            <div class="b-main-page__inner">
                                                
                                                <div class="b-main-page__main-section-wrapper">
                                                    <main>
                                                        <div class="h-mb-15">
                                                            <h3 class="qa-listing-cards-title b-listing-cards__title">Results
                                                                {% for item in object_list %}
                                                                <div class="b-listing-cards__item">
                                                                    <div class="fw-card qa-fw-card b-trending-card h-height-100p">
                                                                        <a href="https://twitter.com/GenelJumalon/status/1787559040710566294/photo/4">
                                                                            <div class="fw-card-media qa-fw-card-media" style="background-color:#FFFFFF;background-image:url(https://pbs.twimg.com/media/GKt2YvbWMAA7Mhj?format=jpg&name=4096x4096);">
                                                                                <!---->
                                                                                <div class="b-trending-card__counter">1
      </div>
                                                                            </div>
                                                                            <div class="fw-card-content qa-fw-card-content">
                                                                                <div class="b-trending-card__title">    {{item.name}}
      </div>
                                                                                <div class="b-trending-card__price">{{item.price}}
      </div>
                                                                                <div class="fw-card-content-icon">
                                                                                    <button type="button" aria-label="Favorite" class="fw-button qa-fw-button fw-button--type-success fw-button--size-little fw-button--circle fw-button--has-icon">
                                                                                        <span class="fw-button__content">
                                                                                            <svg width="35" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M14.851 11.923c-.179-.641-.521-1.246-1.025-1.749-1.562-1.562-4.095-1.563-5.657 0l-4.998 4.998c-1.562 1.563-1.563 4.095 0 5.657 1.562 1.563 4.096 1.561 5.656 0l3.842-3.841.333.009c.404 0 .802-.04 1.189-.117l-4.657 4.656c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-1.952-1.951-1.952-5.12 0-7.071l4.998-4.998c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464.493.493.861 1.063 1.105 1.672l-.787.784zm-5.703.147c.178.643.521 1.25 1.026 1.756 1.562 1.563 4.096 1.561 5.656 0l4.999-4.998c1.563-1.562 1.563-4.095 0-5.657-1.562-1.562-4.095-1.563-5.657 0l-3.841 3.841-.333-.009c-.404 0-.802.04-1.189.117l4.656-4.656c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464 1.951 1.951 1.951 5.119 0 7.071l-4.999 4.998c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-.494-.495-.863-1.067-1.107-1.678l.788-.785z"/></svg>

                                                                                            <!---->
                                                                                        </span>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                
                                                                {% endfor %}
  </h3>
                                                            <div class="h-mh--7 h-mb--15 h-dflex h-flex-wrap">

                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </main>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                            </div>


                            <div class="b-app-footer__wrapper">
                                <article class="svg">
                                    <svg width="100%" height="100%" viewBox="0 0 862 127" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M824.168 126.044H0V107.175H10.8229V99.8004H27.3924V53.1567H73.7489V55.8384H91.4678V78.7293H103.727V13.6004H120.01V16.6653H128.246V0H157.746V14.8456H185.043V33.2349H206.114V70.7798H214.734V45.5902H245.862V48.9424H257.451V79.304H264.826V56.892H282.066V59.9569C282.066 59.9569 295.187 60.0527 294.996 59.9569C294.9 59.8611 294.996 55.0722 294.996 55.0722H307.255V58.7118H313.193V100.088H318.748V77.2927H333.498V49.4213H354.665V44.1536H367.499V40.1309H377.748V44.824H386.942V48.5593H398.531V81.6027H403.224V23.3698H412.898V16.0907H442.014V9.38622H461.457V16.2822L470.748 25.5727H481.571V94.82H487.509V81.6027H498.619V85.8169H508.772V75.6644H516.721V82.3689H526.299V76.3349H541.049V84.1887H552.542V90.7016H556.086V64.3627H562.311V85.0507H568.154V88.4029H574.475V55.5511H580.126V86.2H587.501V42.8127H606.273V33.618H614.127V45.3987H628.015V55.2638H641.807V95.7778H649.469V76.718H676.574V35.2462H685.194V33.5222H677.915V30.17H688.068V26.8178H694.485C694.485 26.8178 694.293 29.7869 694.485 29.7869C694.676 29.7869 708.277 29.7869 708.277 29.7869V25.0938H710.192V17.8147H719.004L724.272 26.5304V98.268H758.464V51.8158H763.924V46.3564H775.704V43.7704H805.012V50.4749H809.035V104.972H826.371V87.3493H837.577V74.8982H843.802V69.6304H850.411V83.8056H854.817V110.719H861.904V126.139H824.168V126.044Z"
                                            fill="#00b53f" />
                                    </svg>
                                </article>
                                <div class="b-app-footer__image">
                                    <div class="b-static-image h-mb--5" style="height:100;width:100;">
                                        <img height="100%" width="100" src="https://assets.jijistatic.net/static/img/footer-ghana-new.svg" alt="Ghana" class="icon" style="display:none;">
                                    </div>
                                </div>
                                <div class="b-app-footer__inner">
                                    <div class="container">
                                        <div class="b-app-footer__group-wrapper">
                                            <div class="b-app-footer__group">
                                                <div class="b-app-footer__group_title">About us
          </div>
                                                <div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">About Us
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">We are hiring!
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Terms &amp;Conditions
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Privacy Policy
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Billing Policy
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Copyright Infringement Policy
      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-app-footer__group">
                                                <div class="b-app-footer__group_title">Support
          </div>
                                                <div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">support@knocknock.com.gh
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Safety tips
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Contact Us
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">FAQ
      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-app-footer__group">
                                                <div class="b-app-footer__group_title">Our apps
          </div>
                                                <div>
                                                    <div>
                                                        <a href="" aria-label="Available on the App Store" rel="nofollow" class="b-app-footer__group-link">
                                                            <img src="https://assets.jijistatic.net/static/img/single-images/app-store.svg" alt="Available on the App Store" class="h-max-width-100p">
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a href="" aria-label="Get it on Google Play" rel="nofollow" class="b-app-footer__group-link">
                                                            <img src="https://assets.jijistatic.net/static/img/single-images/google-play.svg" alt="Get it on Google Play" class="h-max-width-100p">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-app-footer__group">
                                                <div class="b-app-footer__group_title">Our resources
          </div>
                                                <div>
                                                    <div>
                                                        <a href="https://web.facebook.com" aria-label="" rel="nofollow" class="b-app-footer__group-link">Our FB
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="https://www.instagram.com" aria-label="" rel="nofollow" class="b-app-footer__group-link">Our Instagram
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="https://www.youtube.com" aria-label="" rel="nofollow" class="b-app-footer__group-link">Our YouTube
      </a>
                                                    </div>
                                                    <div>
                                                        <a href="https://twitter.com" aria-label="" rel="nofollow" class="b-app-footer__group-link">Our Twitter
      </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-app-footer__group">
                                                <div class="b-app-footer__group_title">Hot links
          </div>
                                                <div>
                                                    <div>
                                                        <a href="/main.html" aria-label="" rel="nofollow" class="b-app-footer__group-link">Our Hot Link
      </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="b-app-footer__group-countries">
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/nigeria.svg" alt="Nigeria" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/kenya.svg" alt="Kenya" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/uganda.svg" alt="Uganda" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/tanzania.svg" alt="Tanzania" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/ethiopia.svg" alt="Ethiopia" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/senegal.svg" alt="Senegal" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/civ.svg" alt="Côte d’Ivoire" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/bangladesh.svg" alt="Bangladesh" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                            <a href="/main.html" rel="nofollow" class="b-app-footer__group-countries__item">
                                                <div class="b-static-image" style="height:32;width:32;">
                                                    <img height="32" width="32" src="https://assets.jijistatic.net/static/img/footer-anchors/srilanka.svg" alt="Sri Lanka" class="icon" style="display:none;">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="b-app-footer__copyright">
                                            <div></div>
                                            <div>© 2024 Custodia.com.gh
        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!---->
                        <div class="fw-fixed-background" style="display:none;"></div>
                        <!---->
                        <!---->
                        <!---->
                        <div>
                        <!---->
                        <!---->
                        </div>
                        <div>
                        <!---->
                        <!---->
                        </div>
                        <div class="vue-portal-target"></div>
                        <div class="vue-portal-target"></div>
                        <div class="vue-portal-target"></div>
                        <div class="vue-portal-target"></div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
